GEMINI_API_KEY=AIzaSyBqfY6ZEXvtkbH0HvRFKrqBP-rlCGudt70
DB_HOST=localhost
DB_PORT=5432
DB_NAME=rag_db
DB_USER=postgres
DB_PASSWORD=Afra@2005
FAISS_INDEX_DIR=./faiss_indexes
CHUNK_SIZE=800
CHUNK_OVERLAP=100
TOP_K_RESULTS=5
